<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Items</title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>

    <h1>Welcome to the Haus of Wholesale!</h1>
    <a href='/' >'Add New Item'</a>
    <!-- views/applications/index.ejs -->

<ul>
  <% items.forEach((item)=>{ %>
  <li>
    <!-- Add a link around each application, directing to the 'show' page -->
    <a href="/users/<%= user._id %>/items/<%= items._id>">
      <%= item.description %> at <%= item.price %>
    </a>
  </li>
  <% }) %>
</ul>

  </body>
</html>